#gameboard-container {
  flex-grow: 1;
  background-color: antiquewhite;
}

#gameboard {
  padding: 1rem;
  width: 50dvw;
  aspect-ratio: 1/1;
  margin: auto;
  overflow: hidden;
  background-color: aquamarine;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 31%);
  gap: 15px 15px;
}
