#gameboard-container {
  flex-grow: 1;
  background-color: antiquewhite;
}

#gameboard {
  padding: 1rem;
  width: 50%;
  aspect-ratio: 1/1;
  margin: auto;
  overflow: scroll;
  background-color: aquamarine;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: center;
}
